version: '3.4'

services:
  portainer:
    container_name: portainer
    restart: always
    ports:
      - "8080:8000"
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    
  rabbitmq:
    container_name: rabbitmq
    restart: always
    ports:
        - "5672:5672"
        - "15672:15672"
      
  ecommercedb:
    container_name: ecommercedb
    environment:
        SA_PASSWORD: "someThingComplicated1234"
        ACCEPT_EULA: "Y"
    restart: always
    ports:
        - "1433:1433"

  basketdb:
    container_name: basketdb
    restart: always
    ports:
      - "6379:6379"

  ordering.api:
    container_name: ordering.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:OrderingConnectionString=Server=ecommercedb;Database=OrderDb;User Id=sa;Password=someThingComplicated1234"  
    depends_on:
        - ecommercedb
    ports:
        - "8004:80"

  catalog.api:
    container_name: catalog.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:CatalogConnectionString=Server=ecommercedb;Database=ProductDb;User Id=sa;Password=someThingComplicated1234"  
    depends_on:
      - ecommercedb
    ports:
      - "8001:80"

  basket.api:
    container_name: basket.api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "CacheSettings:ConnectionString=basketdb:6379"
      - "GrpcSettings:DiscountUrl=http://discount.grpc"
    depends_on:
      - basketdb
    ports:
      - "8002:80"

  discount.grpc:
    container_name: discount.grpc
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings:DiscountConnectionString=Server=ecommercedb;Database=DiscountDb;User Id=sa;Password=someThingComplicated1234"  
    depends_on:
      - ecommercedb
    ports:
      - "8003:80"

