version: '3.4'

services:
  ecommercedb:
    image: mcr.microsoft.com/mssql/server:2019-latest

  basketdb:
    image: redis:alpine

  ordering.api:
    image: ${DOCKER_REGISTRY-}ordering
    build:
      context: .
      dockerfile: Services/Ordering/Ordering.API/Dockerfile

  catalog.api:
    image: ${DOCKER_REGISTRY-}catalog
    build:
      context: .
      dockerfile: Services/Catalog/Catalog.API/Dockerfile

  basket.api:
    image: ${DOCKER_REGISTRY-}basket
    build:
      context: .
      dockerfile: Services/Basket/Basket.API/Dockerfile

